@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

header {
    height: 10vh;
}

.imagem {
    content: "";
    position: absolute;
    background-color: whitesmoke;
    background-size: cover;
    background-image: url("../images/Background.png");
    height: 45vh;
    width: 100vw;
    display: block;
    z-index: -10;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 32;
    font-size: 24 px;
    color: #f22436;
}

#secao-apresentacao{
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 5rem;
    height: 100vh;
}

#secao-apresentacao img{
    border-radius: 50%;
}

#texto-apresentacao{
    color: #08415c;
    font-size: 2.25rem;
}

#secao-projetos {
    height: 100vh;
    background-color: #252937;
}

#secao-projetos ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    height: 100%;
}

.card {
    max-height: 420px;
    max-width: 300px;
    position: relative;
}

.card .image{
    height: 100%;
    width: 100%;
}

.image img {
    height: 100%;
    width: 100%;
}

.card .texto {
    position: absolute;
    top: 0;
    opacity: 0;
    color: white;
    transition: opacity .5s;
}

.card:hover .texto {
    opacity: 1;
}

#secao-orcamento{
    height: 100vh;
    padding: 3rem;
}

#secao-orcamento form{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
    margin: 0 auto;
}

.campo {
    display: flex;
    flex-direction: column;
}

.linha {
    grid-column: 1 / 3;
}

input[type=text],
input[type=number],
select
{
    background-color: #272537;
    color: white;
    border-radius: .25rem;
    border: 0;
    padding: .5rem;
}

input[type=radio],
input[type=checkbox],
input[type=range] {
    accent-color: #F0C;
}