@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

header::before {
    content: "";
    position: absolute;
    background-color: whitesmoke;
    background-image: url("../images/Background.png");
    background-size: cover;
    min-height: 100px;
    width: 100vw;
    display: block;
    z-index: -10;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 32;
    font-size: 24 px;
    color: #f22436;
}